# App artifacts
/_build
/db
/deps
/*.ez

# If you run "mix test --cover", coverage assets end up here.
/cover

# Where 3rd-party dependencies like ExDoc output generated docs.
/doc

# Ignore .fetch files in case you like to edit your project deps locally.
/.fetch

# If the VM crashes, it generates a dump, let's ignore it too.
erl_crash.dump

# Static artifacts
/node_modules
