<h1>Counter</h1>

<div class="jumbotron">
  <h2 id="counter"><%= @count %></h2>
  <%=  %>
  <button phx-click="increment">+</button>
  <button phx-click="decrement">-</button>
  <button phx-click="increment_if_odd">+ if odd</button>
</div>
