<script type="text/javascript">
  document.addEventListener('DOMContentLoaded', () => {
    let { Counter } = require('web/static/js/app')
    window.counter = new Counter()
  })
</script>
<div class="jumbotron">
  <h2 id="counter">0</h2>
  <button onclick="counter.increment()">+</button>
  <button onclick="counter.decrement()">-</button>
  <button onclick="counter.incrementIfOdd()">odd</button>
  <button onclick="counter.incrementAsync()">async</button>
</div>
